<div class="row">
  <h3>Welcome to the IT Support</h3>
  <p>This user interface is used to demonstrated the conversation you defined in Watson Conversation Service.
    For more information about code and content see the repository in github.com <a href="https://github.com/ibm-cloud-architecture/refarch-cognitive-conversation-broker">IBM Cloud Architecture</a></p>
  <div class="col-md-4 roundRect" style="box-shadow: 10px 10px 5px #10d1d1; border-color: #10d1d1;">
        <h2>Conversation</h2>
        <p>Start a simple IT support problem shooting conversation</p>
        <p><button (click)="conversation()" class="btn">Ask Support</button></p>
  </div>
</div>
