<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="nav navbar-nav">
      <li class=""><a [routerLink]="['/appliance']">Appliance Advisor</a></li>
  </ul>
</div>
<h2>Appliance Measures <i *ngIf="loading" class="fa fa-cog fa-spin fa-3x fa-fw"></i> </h2>
<div class="container">
  <p *ngIf="loading">Can take some time to load</p>
  <table id="dataTable" class="table table-striped table-condensed" style="max-width: 60%;">
    <thead>
    <tr>
      <th>Room_Temperature</th>
      <th>Food_Compartment_Temperature</th>
      <th>Freezer_Temperature</th>
      <th>Capacity</th>
      <th>Energy_Use_KWh_per_day</th>
      <th>Symptom</th>
      <th>Failure</th>
      <th>RFailure</th>
      <th>RRPFailure</th>
      <th style="background-color: white; border-width:0;"></th>
    </tr>
    </thead>
   <tbody>
     <tr *ngFor="let measure of appMeasures; let i = index; ">
       <td>{{measure.Room_Temperature}}</td>
       <td>{{measure.Food_Compartment_Temperature}}</td>
       <td>{{measure.Freezer_Temperature}}</td>
       <td>{{measure.Capacity}}</td>
       <td>{{measure.Energy_Use_KWh_per_day}}</td>
       <td>{{measure.Symptom}}</td>
       <td>{{measure.Failure}}</td>
       <td>{{measure.RFailure}}</td>
       <td>{{measure.RRPFailure}}</td>
     </tr>
  </tbody>
   </table>
</div>
